name: Main

on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
      - run: npm ci
      - run: npm run pdf
      - uses: actions/upload-artifact@v5
        with:
          name: resume.ja
          path: ikuwow_resume.ja.pdf
      - run: npm run pdf-en
      - uses: actions/upload-artifact@v5
        with:
          name: resume.en
          path: ikuwow_resume.en.pdf
  lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm run lint
